@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

* {
    font-family: 'Roboto', sans-serif;
}
body {
    height: max-content;
    width: 100%;
    margin: 0;
}
.header {
    background-color: #1F2937;
    height: max-content;
    display:flex;
    justify-content: center;
}
.header .content {
    height:75px;
    width:600px;
    max-width: 1000px;
    min-width: 600px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:12px;
}
.header .content h1 {
    font-size: 24px;
    color: #F9FAF8;
    padding:12px;
}
.header .content a {
    text-decoration: none;
    color: #F9FAF8;
    padding:12px;
    font-size: 18px;
}
.hero {
    background-color: #1F2937;
    height: max-content;
    display: flex;
    justify-content: center;
    padding-top: 52px;
    padding-bottom:64px;
}
.hero .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
    max-width: 1000px;
    flex-grow: 1;
}
.hero .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 475px;
    height: 250px;
    padding: 12px;
}
.hero .column .top {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}
.hero .column .middle {
    font-size: 18px;
    color: #E5E7EB;
}
.signUp {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    background: #3882F6;
    border:1px solid #3882F6;
    color: #F9FAF8;
    width: 100px;
}
.hero img {
    width:475px;
    height:250px;
    padding:12px;
}
.information {
    height: max-content;
    min-height: 350px;
    display:flex;
    justify-content: center;
}
.information .content {
    max-width: 1000px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
    align-items: center;
}
.information .title {
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    padding:32px;
}
.information .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.boxColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boxColumn img {
    width: 150px;
    height: 150px;
    margin: 12px;
    padding:18px;
    background-color: #1F2937;
    border-radius: 12px;
}
.boxColumn .text {
    max-width: 150px;
}
.quoteSection {
    height: max-content;
    display:flex;
    justify-content: center;
    background-color: #E5E7EB;
}
.quoteText {
    width:800px;
    min-width: 400px;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
}
.quoteText .quote {
    font-style: italic;
    font-weight: 200;
    font-size: 36px;
}
.quoteText .person {
    align-self: end;
}
.testImage {
    background-color: #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 12px;
    margin: 12px;
}